/* General */

:root {
    --light: #FFFFFF;
    --accent: #F07070;
    --dark: #021E33;
    --shadow: #FAF9F5;
    --beige: #eeeadf;
    --main-font: "Open Sans", "Helvetica", sans-serif;
    --titles-font: "Playfair Display", serif;
    --motto-font: "Oswald", sans-serif;
    --small-font-size: calc(1rem + 0.28vw);
    --medium-font-size: calc(1rem + 2.3vw);
    --big-font-size: calc(1.5rem + 3.2vw);
    --large-font-size: calc(6.5rem + 1vw);
}

html { 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--small-font-size);
    font-weight: 300;
    overflow-x: hidden;
}

body p, body h1, body h2 {
    padding: 0;
    margin: 0;
}

canvas {
    height: 100vh !important;
    min-height: 760px;
}

section {
    position: relative;
}

.section-title {
    text-align: center;
}

.section-title p {
    font-size: var(--large-font-size);
    font-family: var(--titles-font);
}

.section-title h2 {
    font-size: var(--medium-font-size);
    font-family: var(--titles-font);
    font-weight: 400;
    color: var(--dark);
}

.hidden {
    display: none;
}

/* Logo */

.logo {
    width: 85px;
    height: 63px;
}

/* Navigation */

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.8rem;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    padding-left: 2.95rem;
}

.nav a {
    text-decoration: none;
    color: var(--light);
}

.nav a:hover {
    color: var(--accent)
}

.nav .main-link {
    color: var(--accent);
}

/* Header */

header {
    background-image: url("img/background.png");
    background-size: cover;
    color: var(--light);
    height: 100vh;
    min-height: 760px;
    position: relative;
    padding: 0 5.3rem;
}

/* Social networks */

.social-networks {
    position: absolute;
    bottom: 2.5rem;
    text-align: center;
}

.social-networks div {
    padding-top: 1rem;
}

.social-networks-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: calc(0.2rem + 1vw);
}

.social-networks img {
    display: inline-block;
}

.social-networks img:hover {
    cursor: pointer;
}

/* Motto */

.motto {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.motto p {
    font-family: var(--motto-font);
    font-size: var(--medium-font-size);
    padding: 0 1rem;
}

.motto h1 {
    font-family: var(--motto-font);
    font-size: var(--big-font-size);
    font-weight: 500;
    padding: 0 1rem 5rem;
}

.arrows {
    position: relative;
    text-align: center;
}

.arrow {
    max-height: 16px;
}

/* About us */

.about-us {
    display: flex;
    gap: 4rem;
    max-width: 50rem;
    margin: 0 auto;
    color: var(--dark);
    margin-bottom: 6rem;
}

.about-us :first-child p {
    text-align: end;
}

.about-us p {
    font-size: var(--small-font-size);
    font-weight: 400;
    text-align: start;
}

.waves {
    position: absolute;
    top: 0;
}

.waves img {
    width: calc(20% + 15vw);
}

.about-us-title h2 {
    position: relative;
    bottom: 4.9rem;
}

.about-us-title p {
    color: var(--shadow);
    padding-top: 2.75rem;
}

/* Principles */

.principles {
    display: flex;
    align-items: center;
    padding-right: 5rem;
    color: var(--dark);
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.principles .principles-image {
    width: 55%;
}

.principles .principles-text {
    width: 45%;
}

.principles-title {
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
}

.principles-title img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 580px;
    z-index: -1;
}

.principles img {
    width: 100%;
}

.principles-text {
    font-weight: 400;
}

.principle {
    display: flex;
    align-items: center;
    padding-bottom: 3.5rem;
    opacity: 0;
}

.principle img {
    height: 6rem;
    max-width: 3rem;
    padding-right: 2rem;
}

/* Delivery */

.delivery {
    background-color: var(--dark);
    color: var(--light);
    position: relative;
    background-image: url(img/map.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.delivery-title p {
    color: var(--beige);
    opacity: 0.05;
    font-size: var(--large-font-size);
    padding-top: 1.2rem;
}

.delivery-title h2 {
    color: var(--light);
    position: relative;
    bottom: 3.7rem;
    padding-bottom: 2.5rem;
}

.delivery-info {
    padding-left: 9.625rem;
    max-width: 42.625rem;
    padding-bottom: 5rem;
    font-size: var(--small-font-size);
}

.delivery-info p {
    padding-bottom: 2rem;
}

.fish-blue {
    position: absolute;
    top: 8rem;
}

.delivery button {
    background: none;
    border: none;
    padding: none;
    font-size: var(--small-font-size);
    color: var(--accent);
    font-weight: 700;
    cursor: pointer;
}

.contact {
    display: flex;
    padding-top: 2rem;
    cursor: pointer;
}

.contact-arrow {
    z-index: 1;
}

.circle {
    position: relative;
    right: 25px;
    z-index: 0;
}

/* Reviews */

.reviews {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 14rem 8rem 14rem;
    user-select: none;
}

.left-arrow, .right-arrow {
    cursor: pointer;
}

.left-arrow {
    padding-right: 2rem;
}

.right-arrow {
    padding-left: 2rem;
}

.name-review {
    font-weight: 500;
}

.reviews .background-img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 400px;
    z-index: -1;
}

/* Footer */

footer {
    background-color: var(--dark);
    color: var(--light);
    padding: 0 3rem;
}

hr.solid {
    border-top: 1px solid #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 3.75rem 5rem;
}

footer p {
    padding-bottom: 1rem;
}

.contacts-title {
    font-size: var(--small-font-size);
    font-weight: 500;
}

.copyright {
     text-align: center;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

.social div {
    cursor: pointer;
}

.youtube-icon {
    padding-bottom: 1px;
}

.inst-icon {
    width: 21px;
}

/* Animations */

.bounce {
    animation: arrows-bounce 2s;
}

.color-highlight path {
    fill: var(--accent);
}

.pulse {
    animation: pulse 1s;
}

.slide {
    animation: 1s ease-out 0s 1 slide-from-right forwards;
    opacity: 1;
}

@keyframes arrows-bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-2px);
    }
}

@keyframes slide-from-right {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }

/* Parallax */

.parallax {
    background-attachment: fixed;
}

/* Media queries */

@media (max-width: 1170px) {
    .social-networks {
        display: none;
    }

    .reviews {
        padding: 0 7rem 8rem 7rem;
    }

    .delivery-info {
        padding: 0 5rem 5rem 5rem;
    }
}

@media (max-width: 900px) {
    :root {
        --large-font-size: calc(3.5rem + 1vw);
    }

    header {
        padding: 0 1.5rem;
    }

    nav {
        padding: 1rem 0;
    }

    .nav ul li {
        padding-left: 1.5rem;
    }

    .about-us-title h2 {
        bottom: 2.5rem;
    }

    .about-us {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .principles-title img {
        max-width: 30rem;
    }

    .about-us :first-child p {
        text-align: start;
    }

    .about-us div {
        width: 70%;
    }  

    .principles {
        flex-flow: column-reverse;
        padding-right: 0;
    }

    .principles .principles-text {
        width: 90%;
    }

    .principles .principles-image {
        width: 90%;
    }

    .delivery {
        background-image: none;
    }

    .fish-blue {
        width: 10rem;
    }

    .delivery-title h2 {
        bottom: 2.5rem;
    }

    .reviews {
        padding: 0rem 0.5rem 4rem 0.5rem;
    }

    .reviews .background-img { 
        display: none;
    }

    .footer {
        flex-direction: column;
        padding: 2rem 2rem 0rem 2rem;
    }

    .footer div {
        padding-bottom: 1rem;
    }

    .social-icons {
        order: 3;
    }

    .social {
        justify-content: flex-start;
    }
}

@media (max-width: 650px) {
    .nav {
        justify-content: center;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .waves img {
        position: absolute;
        left: -90px;
        width: 210px;
    }

    .principles-title img {
        max-width: 20rem;
    }
}